extends ../../../views/admin_layout 
block content
    .wrapper
        include ../../../views/partial/aside.pug
        include ../../../views/partial/header.pug    
        .page-wrapper
            .page-content
                .row 
                    .col-xl-9.mx-auto
                        .card.border-top.border-0.border-4.border-white
                            .card-body
                                .border.p-4.rounded
                                    .card-title.d-flex.align-items-center
                                        div
                                            i.bx.bxs-user.me-1.font-22.text-white
                                        h5.mb-0.text-white Update Role Details 
                                    hr
                                    form#userUpdateForm.form(action='/roles/update' method='POST')
                                        .row.mb-3
                                            label.col-sm-3.col-form-label(for='inputLabel')  Label 
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            .col-sm-9
                                                input#inputLabel.form-control(type='text' name='label' placeholder='Label' value=role.label)
                                                input.form-control(type='hidden' name='id' value=role._id)
                                        .row.mb-3
                                            label.col-sm-3.col-form-label(for='inputNumber') Number 
                                            .col-sm-9
                                                input#inputNumber.form-control(type='number' min=1 name='number' placeholder='Number' value=role.number)
                                        .row
                                            label.col-sm-3.col-form-label 
                                            .col-sm-4.align-items-center.text-center
                                                button.btn.btn-light.px-4.mx-5(type='button')
                                                    i.lni.lni-trash
                                                    | Cancel
                                            .col-sm-4.align-items-center.text-center
                                                button.btn.btn-light.px-4.mx-5(type='submit') 
                                                    i.lni.lni-save
                                                    | Update 


//- extends ../../../views/admin_layout 
//- block content 
//-     .col-md-12.col-12
//-         .box
//-             .box-header.with-border
//-                 h4.box-title Update Role Details
//-             // /.box-header
//-             form#userUpdateForm.form(action='/roles/update' method='POST')
//-                 .box-body
//-                     .row
//-                         .col-md-3
//-                             .form-group
//-                                 label.form-label Label
//-                                 input.form-control(type='text' name='label' placeholder='Label' value=user.label)
//-                                 input.form-control(type='hidden' name='id' value=role._id)
                        
//-                         .col-md-3
//-                             .form-group
//-                                 label.form-label Number
//-                                 input.form-control(type='number' min=1 name='number' placeholder='Number' value=user.number)
//-                 .box-footer.pull-right
//-                     button.btn.btn-warning.me-1(type='button')
//-                         i.ti-trash
//-                         |  Cancel
//-                     button.btn.btn-primary(type='submit')
//-                         i.ti-save-alt
//-                         |  Update
//-         // /.box
